<%- includes('../inc/head')  %> 
<div class="wrapper">
    <%- includes('../inc/navi')  %> 
    <!-- 본문내용 -->

    <!-- 본문내용.끝 -->
    <%- includes('../inc/footer')  %> 
</div>
<%- includes('../inc/foot')  %> 